S1170001.MP4 "KVE 8.11.2014 in Solingen - Sergej und Lena - Spiel 2.mp4"
S1170003.MP4+S1170004.MP4 "KVE 8.11.2014 in Solingen - Tobias und Giulia - Spiel 1.mp4" 1:55
S1180022.MP4+S1180023.MP4 "KVE 9.11.2014 in Solingen - Jeffrey - Spiel 4.mp4" - 7:52
# Lines starting with a hash character are comments
 

# Empty lines are ignored as well and can be used for emphasis


# You can pass a JSON object after the last line; with the following keys:
#  "segments" - a list of objects with keys "start" and "end", specifying the start and end point of the segment
#  "description" - The description of the video on YouTube
# Example:
S1350001.MP4 "Philipp übt weite Smash-Abwehr (Niesner-Camp März 2015).mp4" - - '{"segments": [{"start": "1:35", "end": "2:33"}, {"start": "13:08", "end": "14:53"}], "description": "Noch deutliches Verbesserungspotential vorhanden; bisher landet alles zwischen einem und drei Metern von der Grundlinie entfernt.\n\nAufgenommen beim Hans Werner Niesner Technik-Camp am 22.3.2015, im Playoff-Hotel Arcadia, Braunschweig.\nhttps://www.facebook.com/pages/H-W-Niesner-Badminton-Camps/126733014070819"}'
